.card-room{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    padding: 0px 0px 16px;
    width: 297px;
    height: 231px;
    background: #FFFFFF;
    margin: 8px;
    border: 1px solid #C5C7D0;
    border-radius: 4px;
}


.card-room-img{
    width: -webkit-fill-available;
    height: 88.1px;
}

.room-name{
    font-family: 'Fira Sans' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 20px;
    color: #003399;
    margin: 17px;
}

.room-info{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #323338;
    margin-left: 17px;
}

.card-tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 13px;
    gap: 8px;
    width: 91px;
    height: 20px;
    background: #BBDBC9;
    border-radius: 16px;
    margin: 0px 16px;
}

.card-tag-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px -1px;
    gap: 10px;
    width: 37px;
    height: 19px;
    background: #FFFFFF;
    border-radius: 43px;
}