html{
  scroll-behavior: smooth;
  zoom: 80%;
}
body {
  margin: 0;
  font-family: "Fira Sans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.css-la3ats-MuiTypography-root {
  font-family: "Fira Sans" !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout_logo__2Or1r {
  color: white;
  font-weight: bold;
}


/* slider styles*/

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.container-for-swiper-slide {
  position: relative;
  text-align: center;
  color: white;
  
}
.centered-for-content-swiper-slide {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.centered-for-content-swiper-slide-para{
  position: absolute;
  top: 25%;
  left: -50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.centered-for-content-swiper-slide-outerEllipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-for-content-swiper-slide-innerEllipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
  left: 95% !important;
  top: 70px !important;
} */

.layout-design{
  min-height:112vh !important;
}

@media screen and (max-width: 2000px) {
  .layout-design {
    min-height:124vh !important;
  }
}